---
---
<div class="bg-[#0f172a] border-b border-[#1e293b] min-h-[90px]">
  <div class="max-w-[728px] mx-auto py-2 text-center">
    <script is:inline>atOptions={'key':'4428d04f24f7240a987e9ddf4e0c117c','format':'iframe','height':90,'width':728,'params':{}};</script>
    <script is:inline src="https://www.highperformanceformat.com/4428d04f24f7240a987e9ddf4e0c117c/invoke.js"></script>
  </div>
</div>
